<div id="Cities" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{'Admin.Cities.Cities' | translate}}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="{{'Admin.Cities.search' | translate}}">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/apps/Admin/Cities/new'"
                    class="add-city-button fuse-white mt-24 mt-md-0">
                <span>{{'Admin.Cities.new' | translate}}</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="Cities-table"
                       #table [dataSource]="dataSource"
                       matSort
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let City">
                        <p class="text-truncate">{{City.id}}</p>
                    </mat-cell>
                </ng-container>

            
  

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Admin.Cities.Table.Name' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let City">
                        <p class="text-truncate">{{City.name}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="country">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Admin.Cities.Table.Country' | translate}}</mat-header-cell>
                    <mat-cell 
              
                     *matCellDef="let City">
                        <a  [routerLink]="'/apps/Admin/Countries/'+City.country.id+'/'+City.country.name"
                        routerLinkActive="router-link-active" ><p class="text-truncate">{{City.country.name}}</p></a> 
                    </mat-cell>
                </ng-container>
             <!-- Action -->
                <ng-container matColumnDef="Edit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Admin.Cities.Table.Edit' | translate}}</mat-header-cell>
                    <mat-cell 
                    
                     *matCellDef="let City">
                     <a [routerLink]="'/apps/Admin/Cities/'+City.id+'/'+City.handle"
                     routerLinkActive="router-link-active" ><p class="text-truncate"><mat-icon>edit</mat-icon></p></a>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Delete">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Admin.Cities.Table.Delete' | translate}}</mat-header-cell>
                    <mat-cell 
                     *matCellDef="let City">
                       <a  class="delete" (click)="DeleteCity(City)"> <p class="text-truncate"><mat-icon>delete</mat-icon></p></a>
                    </mat-cell>
                </ng-container>
                

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let City; columns: displayedColumns;"
                         class="City"
                         matRipple
                         >
                </mat-row>
                
            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

         
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
